
.footer {
  background-color: #f7f7f7;
    left: auto;
    padding: 5px;
}

.footerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.footerNav{
    justify-content: center;
   
}

.footerNav ul li {
    margin-right: 10px;
}

.footerNav p{
    color: #5f249f;
    text-decoration: none;
    
}
.footerSocial{
    margin-top: 1.19rem;
    margin-bottom:1.19rem;
}
.footerSocial a {
    color: #5f249f;
    text-decoration: none;
    margin-right: 10px;
}

.footerCopy {
 
  bottom: 50px;
  left: 0;
  width: 100%;
  text-align: center;
  color: gray;
  background-color: #f7f7f7;
  padding: 10px;
  font-size: 10px;
}
